div.column-2 {
    max-width: none;
    padding-right: 15px;
}

div.column-1 {
    max-width: none;
    padding-left: 15px;
}

@media only screen and (max-width: 768px) {
    .column-1 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
    }
}
.icon-double-angle-right {
    padding-left: 3px !important;
}

.ui-dialog {
    z-index: 650000;
}

.ui-front {
    z-index: 650000;
}

a[href*=".pdf"]:before {
    content: initial;
    background-image: none;
}

.printbtn {
    cursor: pointer !important;
}

.sidebar-main .widget .btn.is-fat {
    margin: 0 5px 5px !important;
}

.pagefwheadline {
    width: 60%;
}

.topbar .mobile-menu a.proconnect {
    padding: 0px;
    background: #7f546a;
    font-size: 10px;
    color: #fff;
}

#mobile-nav .mobile-search input {
    background: transparent;
    color: #fff;
    float: left;
    font-size: 14px;
    width: 85%;
}

#mobile-nav .mobile-search button {
    background: transparent;
    float: right;
    text-align: right;
    width: 10%;
}

@media only screen and (max-width: 600px) {
    .printhide {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 880px) {
    .topbar.extended .logo {
        height: 80px !important;
    }
}

@media only screen and (min-width: 821px) and (max-width: 880px) {
    .topbar.extended .logo {
        max-width: 80px !important;
    }
}
