.ie8 .masthead section h1 {
    text-align: left;
}
.ie8 p.rfgAboveH1, .ie8 p.rfgBelowH1 {
    text-align:left;
}
.ie8 div.column-1, .ie8 div.headline-width{
        max-width:68% !important;
        float:left;
        clear:none;
    }

.ie8 div.column-2 {
        max-width:32% !important;
        float:right;
        margin-top:-65px;
        position:relative;
    }

.ie8 .has-menu:hover .mega-menu{left:5px;top:auto;position:relative;z-index:1000;}
.ie8 .mega-menu-sub {
    padding-left: 115px;
    background: #51453e url('/img/bg/texture_0003_texture-brown-footer-drop-mobile.png') top left repeat;
    min-height:270px;
    z-index:1000;
}
.ie8 .mega-menu-sub-inner {
    width:99%;
}
.ie8 .mega-menu-sub-inset,.ie8 li.mega-menu-sub-inset:hover {
    background:none;
    border-width: 1.3px;
    border-color: rgb(25,17,43);
    background-color: #60564F;
}
.ie8 .shingle-item .shingle-detail .product-shot {
    /*position:relative;
    float:left;
    top:0;
    left:0;
background-color:red;
border:1px solid red;*/
height:360px;
width:480px;
}